
/*
 * Start of copied part
 * Thanks Keith Donegan
 * */

/*
      Created by Keith Donegan of Code-Sucks.com
	  
	  E-Mail: Keithdonegan@gmail.com
	  
	  You can do whatever you want with these layouts,
	  but it would be greatly appreciated if you gave a link
	  back to http://www.code-sucks.com
	  
*/

/*
 * There is some editing happened
 * like added html selector
 * modified body selector
 * */

/*
* { padding: 0; margin: 0; }
*/

html {
  background-color:#fdfdfd;
  height:100%;
}

body {
 font-family: Droid Sans, Arvo, Droid Serif, Courier, Arial, Helvetica, sans-serif;
 font-size: 12px;
 padding:0px;
 margin:0px;
 height:100%;
}
#wrapper { 
 margin: 0 auto;
 padding:10px;
 width: 1000px; /*922*/
 background-color:White;
 border-left:1px dotted #644;
 border-right:1px dotted #644;
 min-height:97%;
}

#header {
 width: 978px; /*900*/
 color: #333;
 padding: 10px;
 /*
 border: 1px solid #ccc;
 */
 height: 50px;
 margin: 10px 0px 0px 0px;
 /* background: #DAC8BF;*/
 
 position:relative;
 
}
#navigation {
 width: 978px; /* 900 */
 color: #333;
 padding: 10px;
 /*
 border: 1px solid #ccc;
 */
 margin: 0px 0px 0px 0px;
 
 /* background: #BD9C8C; */
}
#content { 
 width: 978px;
 color: #333;
 
 /*
 border: 1px solid #ccc;
 background: #F2F2E6; 
 */
 margin: 0px 0px 0px 0px;
 padding: 10px;
 min-height: 350px;
 text-align:left;
 
}
#footer { 
 width: 900px;
 color: #333;
 /*
 border: 1px solid #ccc;
 background: #BD9C8C; 
 */
 margin: 0px 0px 10px 0px;
 padding: 10px;
 text-align:center;
}

/*
 * Ends copied part
 * */
 
 
 /*
  * Copid some more for right hand left hand panel layout
  * used in session user show
  * */
  
  #leftcolumn { 
 color: #333;
 margin: 0px 5px 5px 0px;
 padding: 15px;
 height: 350px;
 width: 650px;
 text-align:left;
 vertical-align:top;
}
#rightcolumn { 
 color: #333;
 border: 1px dotted #ccc;
 background: ;
 margin: 0px 0px 5px 0px;
 padding: 10px;
 height: 350px;
 width: 195px;
 display: block;
}
  
/*
 * Copied part ends hre
 * */

#header #titleSpan {position:absolute; left:0px;padding:5px;}
#header #titleSpan h1 a, #header #titleSpan h1 a:visited, #header #titleSpan h1 a:hover{font-family:Droid Serif; text-shadow: 4px 4px 4px #bbb;color:Black;}
#header #titleSpan #subHeading {Font-size:120%;}
#header #titleSpan a {text-decoration:none;}

#user_div
{
  position:absolute;
  top:0px;
  right:0px;
  padding:0px 10px 0px 0px;
  text-align:right;
}

#navigation a {padding:3px;margin:2px;text-decoration:none;}

#addSearchEngineLink {padding:10px;margin:50px;display:block;}
#addSearchEngineLink a {text-decoration:none;font-size:170%;}


#searchForm {margin:50px;}
#searchForm *{margin:auto;padding:4px;}

#facebookLikeDiv {}

#copyrightText {}

span.q{display:block;font-weight:bold;}

span.a{display:block;}

li.atom{margin:2px;background-color:#ffffef;}

.atom_value {color:Black;}
.atom_value_editor {display:none;}
.atom_value_editor > * {display:inline;}

.atom_operations{font-size:80%;}
.atom_operations a, .atom_operations a:hover, .atom_operations a:visited{text-decoration:none;color:#88888;}

.atom_context_links{font-size:80%;}

.atom_timestamp{font-size:80%;}

#list_key {font-size:200%;}

/* /key_value_pair */
.allKeys {width:100%;}
.allKeys td {padding:0px 0px 10px 0px;text-align:center;}
.allKeys td a {padding:0px 10px 0px 10px;text-decoration:none;}

#user_div .account_info_session_user {color:#9d9d9d;}

#user_div .account_info_session_user a {color:#9d9dff; text-decoration:none;}

#user_div .account_info_user {color:#9d9d9d;}

#user_div .account_info_user a {color:#9d9dff; text-decoration:none;}


/* Following is general styling for index page */

a img{border:0px;}

#image_attribution_text {font-size:80%;color:#ccaacc;}
#image_attribution_text *{color:#ccaacc;text-decoration:none;}

.opinion_text_form_container {}

.opinion_text {padding:0px;margin:0px;font-size:100%;border:1px dotted;}

.like_opinion_text {background-color:#eeffee;}
.unlike_opinion_text {background-color:#ffeeee;}

form.new_opinion {display:inline;}

.centeredContainer {margin-left:auto;margin-right:auto;text-align:center;}
.leftedContainer {margin-left:auto;margin-right:auto;text-align:left;}

#topicTitle {font-size:220%;}

#topicImageContainer {padding:10px;padding-bottom:25px;}
#topicImageContainer img{border:0px;max-width:80%;max-height:60%;}

#similar_session_users {width:100%;font-size:110%;}
#similar_session_users table{width:100%;border:0;}
.similar_session_user_cell {border:0;text-align:center;vertical-align:middle;padding:7px;font-size:100%;}
.similar_session_user_cell a, .similar_session_user_cell a:visited{border:0;text-decoration:none;}

.similar_session_user_cell a:hover {}

#opinions {width:100%;}
#opinions > table {width:100%;border-spacing:0px;border-bottom:1px dotted;}
#opinions > table tr {width:100%;}
#opinions > table td {padding:4px;margin:0px;height:24px;}
#opinions > table th {padding:4px;margin:0px;height:24px;}

.topic_attribute_like {font-size:115%;color:#446644;border-left:1px dotted;border-right:1px dotted;width:25%;border-top:1px dotted;}
.topic_attribute {font-weight:bold;font-size:115%;color:#444444;border-top:1px dotted;}
.topic_attribute_unlike {font-size:115%;color:#664444;border-right:1px dotted;border-left:1px dotted;width:25%;border-top:1px dotted;}

th.topic_attribute_like {font-size:110%;border-right:1px dotted;font-weight:bold;}
th.topic_attribute {font-size:110%;visibility:hidden;}
th.topic_attribute_unlike {font-size:115%;border-left:1px dotted;}

.new_opinion {display:inline;}

.oneLikeItem {margin:15px;}

.oneLikeItem .liker {font-style:Italic;}
.oneLikeItem .likeText {}
.oneLikeItem .dislikeText {}

.oneLikeItem .attribLiked {font-weight:bold;color:Green;}
.oneLikeItem .attribDisliked {font-weight:bold;color:Red;}

.oneLikeItem .currentItemText {}

.meTooLink {color:#111111;}
.notAtAllLink {color:#ff2222;}

/* Following styling is for like unlike button with thumb up and thumb down */

a.lubutton {text-decoration:none;}

backup {
  
  color:#3B5998;background-color:#ECEEF5;
  
  border:2px solid #CAD4E7;
  
  }

a.like_button {
  
  color:#0B6138;background-color:#E0F8EC;
  border:1px solid #A9F5D0;
  padding:2px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  }
  
a.like_button span {font-size:12px;background:url('/images/thumb_up.png') no-repeat;padding-left:18px;}
  
a.unlike_button {color:Red;}

a.unlike_button {
  
  color:#610B0B;background-color:#F8E0E0;
  border:1px solid #F5A9A9;
  padding:2px;
  border-bottom-left-radius: 3px 3px;
  border-bottom-right-radius: 3px 3px;
  border-top-left-radius: 3px 3px;
  border-top-right-radius: 3px 3px;
  }
  
a.unlike_button span {font-size:12px;background:url('/images/thumb_down.png') no-repeat;padding-left:18px;}


